# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://romelacopra:knhPV2XTj0nH5wV1@cluster0.fhe8wiw.mongodb.net/test"
NEXTAUTH_SECRET=XzsJ3++BeMsEQqZ7fV6BuEFrNhSD5zzw8u5Gj9Neg8w=

GOOGLE_CLIENT_ID=1005141519796-hrjelrn2sqohlu1ct43trd6crg126rvh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

GITHUB_ID=0224dad30278a24314a8
GITHUB_SECRET=c1038599fc5fe67b40ec700a433e7da6ed2ebd5f

UPLOADTHING_SECRET=sk_live_52252ab7867e5546482c8ce9ee9e5e21980bfe3003214af1c08b5b46d5b58f9a
UPLOADTHING_APP_ID=pqv76x3z6c